<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django App {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <a href="/">🏠 Homepage </a>
      <a href="/api/v1/posts">📃 Posts </a>
      <a href="/api/v1/users">👨‍🦰 Users </a>
      <a href="/api/v1/ranking">🚩 Ranking </a>
      <a href="/api/v1/point">💯 Point </a>
      <a href="/api/v1/suburbs">🏞️ Suburbs </a>
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
